body {
    font-family: 'Quicksand', sans-serif;
}

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meme-scroller {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    gap: 10%;
    overflow-x: hidden;
}

.meme-group {
    display: flex;
    flex-wrap: wrap;
}

img {
    width: 100%;
    max-width: 40rem;
    object-fit: cover;
    border-radius: 0.3rem;
}

.input-area {
    display: flex;
    gap: 10px;
    margin-left: auto;
    margin-right: 2rem;
    align-items: center;
    justify-content: center;
    width: 20rem;
}

.input-circle {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    opacity: 0.5;
}

p {
    padding-left: 1.5rem;
    margin-left: 0;
    margin-right: auto;
}

.img-wrapper {
    width: 100%;
}

.img-content {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
}

.text-content {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
}

.img-content-wrapper,
.text-content-wrapper {
    overflow-x: hidden;
}

.text-content-wrapper {
    width: 20rem;
}

.text-content {
    width: 100%;
    margin-left: -100%;
    transition: margin-left 700ms cubic-bezier(0.28, 0.57, 0.67, 0.47);
}

.img-content {
    width: 100%;
    margin-left: -100%;
    transition: margin-left 700ms cubic-bezier(0.28, 0.57, 0.67, 0.47);
}

.img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    margin: auto;
    height: 100%;
    width: 100%;
    display: block;
}

input {
    display: none;
}

.bullets label {
    display: inline-block;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 100%;
    background: #000000;
    margin: 0 0.3rem;
    cursor: pointer;
    text-decoration: none;
    opacity: 0.5;
}

.bullets label:hover {
    opacity: 1;
}

.bullets {
    display: flex;
    margin-left: auto;
    margin-right: 2rem;
    align-items: center;
}

#slide1:checked~.meme-scroller .img-content {
    margin-left: 0;
}

#slide2:checked~.meme-scroller .img-content {
    margin-left: -100%;
}

#slide3:checked~.meme-scroller .img-content {
    margin-left: -200%;
}

#slide4:checked~.meme-scroller .img-content {
    margin-left: -300%;
}

#slide1:checked~.meme-scroller .text-content {
    margin-left: 0;
}

#slide2:checked~.meme-scroller .text-content {
    margin-left: -100%;
}

#slide3:checked~.meme-scroller .text-content {
    margin-left: -200%;
}

#slide4:checked~.meme-scroller .text-content {
    margin-left: -300%;
}

#slide1:checked~.meme-scroller .bullets label:nth-child(1) {
    opacity: 1;
}

#slide2:checked~.meme-scroller .bullets label:nth-child(2) {
    opacity: 2;
}

#slide3:checked~.meme-scroller .bullets label:nth-child(3) {
    opacity: 3;
}

#slide4:checked~.meme-scroller .bullets label:nth-child(4) {
    opacity: 4;
}